[submodule "NinthEngine/lib/glm"]
	path = NinthEngine/lib/glm
	url = https://github.com/g-truc/glm
[submodule "NinthEngine/lib/spdlog"]
	path = NinthEngine/lib/spdlog
	url = https://github.com/gabime/spdlog
